<nav class="navbar">
  <div class="navbar-area area-width">
    <div class="logo" [routerLink]="['/']">
      <h1>#Movie-app</h1>
    </div>
    <ul class="nav-links">
      <li><a [routerLink]="['/', 'movie']">Movies</a></li>
      <li><a [routerLink]="['/', 'tv']">Tv Shows</a></li>
      <!-- <li><a routerLink="/">People</a></li> -->
      <li><a [routerLink]="['/', routerAccount]">Account</a></li>
      <li *ngIf="isLoggedIn"><a (click)="logout()"><span class="material-symbols-outlined">
            logout
          </span></a></li>
    </ul>
  </div>
</nav>