<app-navbar *ngIf="showNavbar"></app-navbar>

<div class="login-page container-01">
  <div class="login-page-area area-width">
    <div class="illustration">
      <!-- <ng-lottie class="animate" [options]="animationOptions"></ng-lottie> -->
      <img src="/assets/img/img_home_cinema.svg" alt="">
    </div>
    <div class="form">
      <h2 class="ttl-02 txt-accent txt-center"><span class="txt-01 txt-primary">Get ready to discover</span><br>Login Now!</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-area">
        <div class="input-area">
          <input type="email" placeholder="Email" formControlName="email">
          <input type="password" placeholder="Password" formControlName="password">          
        </div>
        <button type="submit" [disabled]="loginForm.invalid" class="primary-btn">Login</button>
      </form>
      
    </div>
  </div>
</div>
