<app-navbar *ngIf="showNavbar"></app-navbar>

<div class="login-page container-01">
  <div class="login-page-area area-full">
    <div class="illustration">
      <img src="/assets/img/img_girl_baloon.svg" alt="">
    </div>
    <div class="form-wrap">
      <div class="form">
        <h2 class="ttl-02 txt-accent txt-center"><span class="txt-01 txt-primary">Get ready to discover</span><br>Login
          Now!</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-area">
          <div class="input-area">
            <div class="input-wrap">
              <input type="email" placeholder="Email" formControlName="email">
              <div
                *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
                class="error-message">
                <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</p>
                <p *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</p>
              </div>
            </div>
            <div class="input-wrap">
              <input type="password" placeholder="Password" formControlName="password">
              <div
                *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
                class="error-message">
                <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</p>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="loginForm.invalid" class="primary-btn area-full">Login</button>
          <p class="register-link txt-primary">Don't have an account ?<span class="txt-accent"
              [routerLink]="['/', 'register']">Register now</span></p>
        </form>
      </div>
    </div>
  </div>
</div>