@import '/src/styles.scss';

.login-page {

  .login-page-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .illustration {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 50%;
        height: auto;
      }
    }

    .form {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form-area {
        width: 50%;
        display: flex;
        flex-direction: column;

        .input-area {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          margin: 2rem 0 3.5rem;
        }
      }
    }

    .register-link{
      font-size: 1.4rem;
      text-align: center;
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      span{
        margin-right: 1rem;
        cursor: pointer;
        font-size: inherit;
      }
      span:hover{
        text-decoration: underline;
      }
    }
  }
}