<app-navbar *ngIf="showNavbar"></app-navbar>

<div class="login-page container-01">
  <div class="login-page-area area-width">
    <div class="illustration">

    </div>
    <div class="form">
      <h2 class="ttl-02 txt-accent"><span class="txt-01 txt-primary">The fun’s awaits you to join</span><br>Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="form-area">
        <div class="input-area">
          <input type="username" placeholder="username" formControlName="username">
          <input type="email" placeholder="Email" formControlName="email">
          <input type="password" placeholder="Password" formControlName="password">
        </div>
        <button type="submit" [disabled]="registerForm.invalid" class="primary-btn">Register</button>
      </form>

    </div>
  </div>
</div>