@charset "UTF-8";

.details {
  background: #121212;
  padding-top: 9.5rem;
}

.details .details-area .details-info {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details .details-area .details-info .bg-img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #121212, transparent);
  background-position-x: left !important;
}

.details .details-area .details-info .bg-img-wrap img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.details .details-area .details-info .details-info-area {
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  padding: 3rem 0;
  gap: 3rem;
}

.details .details-area .details-info .details-info-area .img-wrap {
  min-width: 30rem;
  min-height: 45rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.details .details-area .details-info .details-info-area .img-wrap img {
  min-width: 30rem;
  min-height: 45rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.details .details-area .details-info .details-info-area .info-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details .details-area .details-info .details-info-area .info-wrap .ttl-wrap h2 {
  margin-bottom: 0;
}

.details .details-area .details-info .details-info-area .info-wrap .ttl-wrap .desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  color: #FFFFFF;
}

.details .details-area .details-info .details-info-area .info-wrap .ttl-wrap .desc .desc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.details .details-area .details-info .details-info-area .info-wrap .ttl-wrap .desc .desc-item::after {
  content: "•";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
}

.details .details-area .details-info .details-info-area .info-wrap .ttl-wrap .desc .desc-item:last-child:after {
  display: none;
}

.details .details-area .details-info .details-info-area .info-wrap .ttl-wrap .desc .genre {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.details .details-area .details-info .details-info-area .info-wrap .ttl-wrap .desc .genre p {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.details .details-area .details-info .details-info-area .info-wrap .ttl-wrap .desc .genre p::after {
  content: ",";
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 1rem;
  height: 1rem;
}

.details .details-area .details-info .details-info-area .info-wrap .ttl-wrap .desc .genre p:last-child:after {
  display: none;
}

.details .details-area .details-info .details-info-area .info-wrap .action-common {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.6rem;
}

.details .details-area .details-info .details-info-area .info-wrap .action-common .icon {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.details .details-area .details-info .details-info-area .info-wrap .action-common .icon span {
  font-size: 3.2rem;
  color: #FFD700;
}

.details .details-area .details-info .details-info-area .info-wrap .action-btn {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.details .details-area .details-info .details-info-area .info-wrap .tagline {
  font-style: italic;
}

.details .details-area .details-info .details-info-area .info-wrap .tagline mark {
  background: #1E1E1E;
}

.details .details-area .details-info .details-info-area .info-wrap .other-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details .details-area .details-info .details-info-area .info-wrap .other-details .wrap {
  width: 50%;
  margin-bottom: 2rem;
}

.details .details-area .crew-container {
  padding-top: 3rem;
}

.details .details-area .crew-container .crew-area .crew-member .crew-member-wrap {
  display: flex;
  align-items: flex-start;
  width: 100%;
  overflow: auto;
  gap: 1.6rem;
  padding-bottom: 3rem;
}

.details .details-area .crew-container .crew-area .crew-member .crew-member-wrap .crew-member-list {
  width: 17.5rem;
  height: auto;
}

.details .details-area .crew-container .crew-area .crew-member .crew-member-wrap .crew-member-list .img-wrap {
  min-width: 14rem;
  min-height: 20rem;
  max-height: 20rem;
}

.details .details-area .crew-container .crew-area .crew-member .crew-member-wrap .crew-member-list .img-wrap img {
  -o-object-fit: cover;
  object-fit: cover;
  min-width: 14rem;
  min-height: 20rem;
  max-height: 20rem;
}

@media screen and (max-width: 768px) {
  .details {
    padding-top: 8.5rem !important;
  }

  .ttl-wrap h2 {
    margin-bottom: 0;
    font-size: 2.8rem;
  }

  .details-info-area {
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0;
    gap: 3rem;
  }

  .details-info-area .img-wrap {
    margin: 0 auto;
    min-width: 28rem !important;
    min-height: 45rem;
  }

  .details-info-area .img-wrap img {
    min-width: 28rem !important;
    min-height: 45rem;
  }

  .details-info-area .action-common {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  .details-info-area .action-common .txt-01 {
    font-size: 1.6rem;
  }

  .details-info-area .action-common .icon {
    gap: 0.4rem;
  }

  .details-info-area .action-common .icon span {
    font-size: 1.6rem;
  }

  .details-info-area .action-common .icon.favorite .favorite-icon {
    width: 18px;
    height: 18px;
  }

  .details-info-area .action-btn {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
}

/*# sourceMappingURL=details.component.css.map */