@import '/src/styles.scss';

.movies {

  .movies-area {
    .top-rated {
      padding: 3rem 0 2rem;

      .top-rated-area {
        display: flex;
        flex-direction: column;
        gap: 5rem;

        .top-rated-section {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 53vh;

          .list-top-rated {
            width: 100%;
            max-width: 1152px;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .card-top-rated {
              display: flex;
              background: $main-background;
              border-radius: 10px;
              padding: 2.4rem;
              box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
              position: relative;
              overflow: hidden;

              .bg-medal {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: none;

                .medal-content {
                  display: none;
                }
              }

              .card-content {
                display: flex;
                align-items: start;
                gap: 2.4rem;
                z-index: 10;

                .img-container {
                  min-width: 300px;
                  max-width: 300px;
                  min-height: 250px;
                  max-height: 250px;
                  overflow: hidden;
                  border-radius: 10px;

                  img {
                    cursor: pointer;
                    object-fit: cover;
                    object-position: center;
                    min-width: 300px;
                    max-width: 300px;
                    min-height: 250px;
                    max-height: 250px;
                  }
                }

                .card-info {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .card-info-area {
                    .ttl {
                      margin-bottom: 1rem;
                    }

                    .overview {
                      margin-bottom: 1rem;
                      min-height: 120px;
                    }
                  }

                  .card-action {
                    margin-top: 1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .action-common {
                      display: flex;
                      align-items: center;
                      gap: 2.6rem;

                      .icon {
                        display: flex;
                        align-items: center;
                        gap: .8rem;

                        span {
                          font-size: 3.2rem;
                          color: $accent-color;
                        }
                      }


                    }
                  }
                }
              }

            }

            .card-top-rated#movie-1,
            .card-top-rated#movie-2,
            .card-top-rated#movie-3 {
              .bg-medal {
                display: block;
                background: linear-gradient(to right, $accent-color 10%, transparent 50%);

                .medal-content {
                  display: block;
                  position: absolute;
                  font-size: 30rem;
                  font-weight: bold;
                  right: 5rem;
                  color: $accent-color-fade;
                }
              }
            }

            .card-top-rated#movie-4,
            .card-top-rated#movie-5,
            .card-top-rated#movie-6,
            .card-top-rated#movie-7,
            .card-top-rated#movie-8,
            .card-top-rated#movie-9,
            .card-top-rated#movie-10 {
              .bg-medal {
                display: block;
                background: linear-gradient(to right, #4CAF50 10%, transparent 50%);

                .medal-content {
                  display: block;
                  position: absolute;
                  font-size: 30rem;
                  font-weight: bold;
                  right: 5rem;
                  color: $accent-color-fade;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .card-action {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: end !important;
    justify-content: space-between;

    .action-common {
      display: flex;
      flex-direction: column;
      align-items: start !important;
      gap: 2.6rem;

      .icon {
        display: flex;
        align-items: center;
        gap: .8rem;

        span {
          font-size: 3.2rem;
          color: $accent-color;
        }
      }


    }
  }
}

@media screen and (max-width: 768px) {
  .top-rated-section {
    .list-top-rated {
      .card-content {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 2.4rem;
        z-index: 10;

        .img-container {
          min-width: unset !important;
          max-width: unset !important;
          min-height: unset !important;
          max-height: unset !important;
          overflow: hidden;
          border-radius: 10px;

          img {
            cursor: pointer;
            object-fit: cover;
            object-position: center;
            min-width: unset !important;
            max-width: unset !important;
            min-height: unset !important;
            max-height: unset !important;
          }
        }

        .card-info {
          width: 100%;
          display: flex;
          flex-direction: column;

          .card-info-area {
            .ttl {
              margin-bottom: 1rem;
            }

            .overview {
              margin-bottom: 1rem;
            }
          }

          .card-action {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start !important;
            gap: 2rem;
            justify-content: space-between;

            .action-common {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              align-items: center !important;
              gap: 2.6rem;

              .icon {
                display: flex;
                align-items: center;
                gap: .8rem;

                span {
                  font-size: 3.2rem;
                  color: $accent-color;
                }
              }


            }
          }
        }
      }
    }

    .card-top-rated#movie-1,
    .card-top-rated#movie-2,
    .card-top-rated#movie-3 {
      .bg-medal {
        display: block;
        background: linear-gradient(to bottom, $accent-color 10%, transparent 50%) !important;

        .medal-content {
          bottom: 5rem;
        }
      }
    }

    .card-top-rated#movie-4,
    .card-top-rated#movie-5,
    .card-top-rated#movie-6,
    .card-top-rated#movie-7,
    .card-top-rated#movie-8,
    .card-top-rated#movie-9,
    .card-top-rated#movie-10 {
      .bg-medal {
        display: block;
        background: linear-gradient(to bottom, #4CAF50 10%, transparent 50%) !important;

        .medal-content {
          bottom: 5rem;
        }
      }
    }
  }
}