<app-navbar *ngIf="showNavbar"></app-navbar>

<div class="movies container-02 area-padding-y area-padding-x">
  <div class="movies-area area-full">
    <div class="top-rated area-width area-center">
      <h2 class="ttl-02 txt-primary">Top Rated Movies</h2>
      <div class="top-rated-area">
        <div class="top-rated-section">
          <ng-container *ngIf="TopRatedMovies === undefined">
            <!-- Show loading message or spinner while data is being fetched -->
            <ng-container *ngIf="loading">
              <ng-container *ngTemplateOutlet="loading"></ng-container>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="TopRatedMovies !== undefined && TopRatedMovies.length === 0">
            <!-- Show empty state message if TopRatedMovies data is available but empty -->
            <ng-container *ngIf="empty">
              <ng-container *ngTemplateOutlet="empty"></ng-container>
            </ng-container>
          </ng-container>

          <div class="list-top-rated" *ngIf="TopRatedMovies && TopRatedMovies.length > 0">
            <div *ngFor="let movie of TopRatedMovies; let i = index" class="card-top-rated animated-fade-in first-show"
              [id]="'movie-' + (i+1)">
              <div class="card-content">
                <div class="img-container">
                  <img [src]="movieService.getImageUrl(movie.backdrop_path , 'w780')" alt="" width="100%">
                </div>
                <div class="card-info">
                  <div class="card-info-area">
                    <p class="ttl-02 txt-primary ttl">{{movie.title}}</p>
                    <p class="txt-02 txt-primary overview">{{movie.overview}}</p>
                  </div>
                  <div class="card-action">
                    <div class="action-common">
                      <p class="txt-01 txt-primary icon rating">
                        <span class="material-symbols-outlined">
                          star_rate
                        </span>
                        {{movie.vote_average}}
                      </p>
                      <p class="txt-01 txt-primary icon person">
                        <span class="material-symbols-outlined">
                          person
                        </span>
                        {{movie.vote_count}}
                      </p>
                      <div class="icon favorite">
                        <span [ngClass]="isFavorite(movie.id, 'movie') ? 'favorite-icon active' : 'favorite-icon'"></span>
                        <span [ngClass]="isFavorite(movie.id, 'movie') ? 'favorite-txt remove' : 'favorite-txt add'"
                          (click)="toggleFavorite(movie.id, 'movie')">
                          {{ isFavorite(movie.id, 'movie') ? 'Remove from favorites' : 'Add to favorites'
                          }}
                        </span>
                      </div>
                    </div>
                    <button class="primary-btn outlined" [routerLink]="['/movie', movie.id]">See More</button>
                  </div>
                </div>
              </div>
              <div class="bg-medal">
                <div class="medal-content">
                  {{i+1}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #empty>
  <div class="error-empty-container">
    <app-error-empty [messageType]="'empty'"></app-error-empty>
  </div>
</ng-template>

<ng-template #loading>
  <div class="error-empty-container">
    <app-error-empty [messageType]="'loading'"></app-error-empty>
  </div>
</ng-template>