<app-navbar *ngIf="showNavbar"></app-navbar>

<div class="landing-page container-01">
  <div class="landing-page-area area-width">
    <h2 class="ttl-01 txt-primary">Discover Your Shows.</h2>
    <p class="text-content">Explore thousands of movies, TV shows, and documentaries all in one place. With our user-friendly interface and curated collections, finding your next favorite film has never been easier.</p>
    <div class="btn-area">
      <button class="login primary-btn" [routerLink]="['/login']">Login Now</button>
      <div class="divider"></div>
      <button class="register primary-cta" [routerLink]="['/register']">Make an Account</button>
    </div>
  </div>

  <!-- <ng-lottie [options]="animationOptions" width="300px" height="300px"></ng-lottie> -->
</div>