@import '/src/styles.scss';

.dashboard {
  .dashboard-area {
    .carousel {
      .slide {
        position: relative;

        img {
          object-fit: cover;
          height: 56rem;
        }

        .slide-info {
          background: linear-gradient(to top right, $main-background, transparent);
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          bottom: 0;

          .slide-info-area {
            width: 100%;
            padding: 4.5rem 6rem;
            position: absolute;
            left: 0;
            bottom: 0;

            .genre-list {
              display: flex;
              align-items: center;
              gap: 2rem;
              margin-bottom: 1.6rem;

              .genre {
                padding: .4rem 1.6rem;
                background: $main-background-fade;
                border: 1px solid $accent-color;
                color: $accent-color;
                border-radius: 10px;
              }

            }

            h3 {
              margin-bottom: .8rem;
            }

            .slide-action-area {
              width: 100%;
              display: flex;
              align-items: center;
              margin-top: 2.4rem;
              justify-content: space-between;

              .action-common {
                display: flex;
                align-items: center;
                gap: 2.6rem;

                .icon {
                  display: flex;
                  align-items: center;
                  gap: .8rem;

                  span {
                    font-size: 3.2rem;
                    color: $accent-color;
                  }
                }

                .favorite {
                  cursor: pointer;
                  .material-symbols-outlined {
                    color: #FF5733;
                  }
                  .favourite-txt{
                    color: $text-color;
                    font-size: 1.6rem;
                  }
                  .favourite-txt:hover{
                    text-decoration: underline;
                  }
                  .favorite-icon{
                    content: '';
                    background: url('/assets/icons/favorite_outline.svg');
                    background-size: 100% 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;                    
                  }
                  .favorite-icon.active{
                    content: '';
                    background: url('/assets/icons/favorite.svg');
                    background-size: 100% 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;                    
                  }
                }

              }

              .action-btn {
                display: flex;
                align-items: center;
                gap: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}