@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

// Dark Theme:
// Main Background: #121212 (Dark charcoal black)
// Secondary Background: #1E1E1E (Slightly lighter black)
// Text Color: #FFFFFF (White)
// Accent Color: #FFD700 (Gold or yellow for highlighting)

// Light Theme:
// Main Background: #F8F9FA (Light grayish-blue)
// Secondary Background: #FFFFFF (White)
// Text Color: #333333 (Dark gray for better readability)
// Accent Color: #007BFF (Blue for highlighting)

/**********************************************/
/*                common                      */
/**********************************************/

$main-background: #121212;
$secondary-background: #1E1E1E;
$text-color: #FFFFFF;
$accent-color: #FFD700;
$accent-color-hover: #dfa92c;
$accent-color-fade: #FFD7001a;
$main-background-fade: #121212b3;
$secondary-background-fade: #1E1E1Eb3;

.none{
  display: none !important;
}

/**********************************************/
/*                template                    */
/**********************************************/
.container-01 {
  width: 100%;
  height: 100vh;
  padding-top: 10rem;
  background-color: $secondary-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-02 {
  width: 100%;
  height: 100%;
  background-color: $secondary-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-width {
  width: 80%;
}

.area-full {
  width: 100%;
  max-width: 100%;
}

.area-center {
  margin: 0 auto;
}

.area-padding {
  padding: 12.5rem 0;
}

/**********************************************/
/*                btn style                   */
/**********************************************/
button {
  cursor: pointer;
}

.primary-btn {
  font-size: 2.4rem;
  font-weight: bold;
  color: $text-color;
  padding: 1.6rem 2.4rem;
  background: $accent-color;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
  color: $main-background;
}

.primary-btn.outlined {
  font-size: 1.6rem;
  background: $main-background-fade;
  border: 1px solid $accent-color;
  color: $accent-color
}

.primary-btn.icon {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.primary-btn.icon.circle {
  font-size: 1.6rem;
  padding: 1.6rem;
  background: $main-background-fade;
  border: 1px solid $accent-color;
  border-radius: 9999px;
  transition: all 0.5s ease;
  color: $main-background;
}

.primary-btn.icon.circle .material-symbols-outlined{
  color: $accent-color;
}

.primary-btn:hover {
  box-shadow: 0 4px 6px -1px $accent-color-fade, 0 2px 4px -2px $accent-color-fade;
  background-color: $accent-color-hover;
}

.primary-btn.icon.circle:hover {  
  background-color: $secondary-background;
}

.primary-btn.outlined:hover {  
  background-color: $accent-color;
  color: $main-background;
}

.primary-cta {
  font-size: 2.4rem;
  font-weight: bold;
  color: $text-color;
  border: none;
  background: transparent;
  transition: all 0.5s ease;
}

.primary-cta:hover {
  color: $accent-color;
}


/**********************************************/
/*                Typography                  */
/**********************************************/
.txt-primary {
  color: $text-color;
}

.txt-accent {
  color: $accent-color;
}

.txt-center {
  text-align: center !important;
}

.txt-left {
  text-align: left !important;
}

.font-bold {
  font-weight: bold !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-normal {
  font-weight: normal !important;
}

.ttl-01 {
  font-size: 6.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.ttl-02 {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.txt-01 {
  font-size: 2.4rem;
  font-weight: normal;
}

.txt-02 {
  font-size: 1.6rem;
  font-weight: normal;
}

.material-symbols-outlined {
  font-size: 2.4rem;
  color: inherit;
}

/**********************************************/
/*                INPUT                       */
/**********************************************/

input {
  font-size: 1.8rem;
  border-radius: 10px;
  transition: all 0.5s;
  padding: 1.6rem;
}

input:focus {
  border-color: $accent-color-fade;
  box-shadow: 0 0 1rem $accent-color;
  outline: 0 none;
}

/**********************************************/
/*                SLICK                       */
/**********************************************/

.slick-next,
.slick-prev {
  z-index: 10;
  width: 8rem !important;
  height: 8rem !important;
}

.slick-prev {
  left: 1rem !important;
}

.slick-next {
  right: 1rem !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 8rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}