@import '/src/styles.scss';

.account {
  padding-top: 9.5rem;

  .account-area {
    .account-info {
      padding: 3rem 0;
      background: $main-background;
      position: relative;
      overflow: hidden;

      .account-info-area {
        .account-favorite {
          display: flex;
          align-items: center;
          gap: 5rem;

          .account-favorite-area {
            display: flex;
            align-items: center;
            gap: 1.6rem;

            .total-favorite {
              margin: 0;
            }
          }

          .divider {
            content: '';
            width: 1px;
            height: 6.8rem;
            background: $text-color;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .joined {
        width: 100%;
        position: absolute;
        top: 50%;
        right: -50%;
        transform: translate(-50%, -50%);

        .joined-txt {
          font-size: 10rem;
          line-height: 1.2;
          color: $text-color;
          opacity: .3;
          text-align: right;
        }
      }
    }

    .my-favorite {
      padding: 3rem 0 2rem;

      .my-favorite-area {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        .favorite-section{
          .list-favorite {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
  
            .card-favorite {
              background: $main-background;
              border-radius: 10px;
              padding: 2.4rem;
              display: flex;
              align-items: start;
              gap: 2.4rem;
              box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  
              .img-container {
                min-width: 300px;
                max-width: 300px;
                min-height: 250px;
                max-height: 250px;
                overflow: hidden;
                border-radius: 10px;
  
                img {
                  cursor: pointer;
                  object-fit: cover;
                  object-position: center;
                  min-width: 300px;
                  max-width: 300px;
                  min-height: 250px;
                  max-height: 250px;
                }
              }
  
              .card-info {
                height: 100%;
                display: flex;
                flex-direction: column;
  
                .card-info-area {
                  .ttl {
                    margin-bottom: 1rem;
                  }
  
                  .overview {
                    margin-bottom: 1rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 120px;
                  }
                }
  
                .card-action {
                  margin-top: 1rem;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
  
                  .action-common {
                    display: flex;
                    align-items: center;
                    gap: 2.6rem;
  
                    .icon {
                      display: flex;
                      align-items: center;
                      gap: .8rem;
  
                      span {
                        font-size: 3.2rem;
                        color: $accent-color;
                      }
                    }
  
                    .favorite {
                      cursor: pointer;
  
                      .material-symbols-outlined {
                        color: #FF5733;
                      }
  
                      .favorite-txt {
                        color: $text-color;
                        font-size: 1.6rem;
                      }
  
                      .favorite-txt:hover {
                        text-decoration: underline;
                      }
  
                      .favorite-icon {
                        content: '';
                        background: url('/assets/icons/favorite_outline.svg');
                        background-size: 100% 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                      }
  
                      .favorite-icon.active {
                        content: '';
                        background: url('/assets/icons/favorite.svg');
                        background-size: 100% 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                      }
                    }
  
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}