.tvs .tvs-area .top-rated {
  padding: 3rem 0 2rem;
}

.tvs .tvs-area .top-rated .top-rated-area {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 53vh;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated {
  width: 100%;
  max-width: 1152px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated {
  display: flex;
  background: #121212;
  border-radius: 10px;
  padding: 2.4rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .bg-medal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .bg-medal .medal-content {
  display: none;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .card-content {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
  z-index: 10;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .card-content .img-container {
  min-width: 300px;
  max-width: 300px;
  min-height: 250px;
  max-height: 250px;
  overflow: hidden;
  border-radius: 10px;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .card-content .img-container img {
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  min-width: 300px;
  max-width: 300px;
  min-height: 250px;
  max-height: 250px;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .card-content .card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .card-content .card-info .card-info-area .ttl {
  margin-bottom: 1rem;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .card-content .card-info .card-info-area .overview {
  margin-bottom: 1rem;
  min-height: 120px;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .card-content .card-info .card-action {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .card-content .card-info .card-action .action-common {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .card-content .card-info .card-action .action-common .icon {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated .card-content .card-info .card-action .action-common .icon span {
  font-size: 3.2rem;
  color: #FFD700;
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-1 .bg-medal,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-2 .bg-medal,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-3 .bg-medal {
  display: block;
  background: linear-gradient(to right, #FFD700 10%, transparent 50%);
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-1 .bg-medal .medal-content,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-2 .bg-medal .medal-content,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-3 .bg-medal .medal-content {
  display: block;
  position: absolute;
  font-size: 30rem;
  font-weight: bold;
  right: 5rem;
  color: rgba(255, 215, 0, 0.1019607843);
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-4 .bg-medal,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-5 .bg-medal,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-6 .bg-medal,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-7 .bg-medal,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-8 .bg-medal,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-9 .bg-medal,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-10 .bg-medal {
  display: block;
  background: linear-gradient(to right, #4CAF50 10%, transparent 50%);
}

.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-4 .bg-medal .medal-content,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-5 .bg-medal .medal-content,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-6 .bg-medal .medal-content,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-7 .bg-medal .medal-content,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-8 .bg-medal .medal-content,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-9 .bg-medal .medal-content,
.tvs .tvs-area .top-rated .top-rated-area .top-rated-section .list-top-rated .card-top-rated#tv-10 .bg-medal .medal-content {
  display: block;
  position: absolute;
  font-size: 30rem;
  font-weight: bold;
  right: 5rem;
  color: rgba(255, 215, 0, 0.1019607843);
}

@media screen and (max-width: 990px) {
  .card-action {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: end !important;
    justify-content: space-between;
  }

  .card-action .action-common {
    display: flex;
    flex-direction: column;
    align-items: start !important;
    gap: 2.6rem;
  }

  .card-action .action-common .icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .card-action .action-common .icon span {
    font-size: 3.2rem;
    color: #FFD700;
  }
}

@media screen and (max-width: 768px) {
  .top-rated {
    padding: 0 !important;
  }

  .top-rated-section .list-top-rated .card-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.4rem;
    z-index: 10;
  }

  .top-rated-section .list-top-rated .card-content .img-container {
    min-width: unset !important;
    max-width: unset !important;
    min-height: unset !important;
    max-height: unset !important;
    overflow: hidden;
    border-radius: 10px;
  }

  .top-rated-section .list-top-rated .card-content .img-container img {
    cursor: pointer;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    min-width: unset !important;
    max-width: unset !important;
    min-height: unset !important;
    max-height: unset !important;
  }

  .top-rated-section .list-top-rated .card-content .card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .top-rated-section .list-top-rated .card-content .card-info .card-info-area .ttl {
    margin-bottom: 1rem;
  }

  .top-rated-section .list-top-rated .card-content .card-info .card-info-area .overview {
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .top-rated-section .list-top-rated .card-content .card-info .card-action {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    gap: 2rem;
    justify-content: space-between;
  }

  .top-rated-section .list-top-rated .card-content .card-info .card-action .action-common {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center !important;
    gap: 2.6rem;
  }

  .top-rated-section .list-top-rated .card-content .card-info .card-action .action-common .icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .top-rated-section .list-top-rated .card-content .card-info .card-action .action-common .icon span {
    font-size: 3.2rem;
    color: #FFD700;
  }

  .top-rated-section .card-top-rated#tv-1 .bg-medal,
  .top-rated-section .card-top-rated#tv-2 .bg-medal,
  .top-rated-section .card-top-rated#tv-3 .bg-medal {
    display: block;
    background: linear-gradient(to bottom, #FFD700 10%, transparent 50%) !important;
  }

  .top-rated-section .card-top-rated#tv-1 .bg-medal .medal-content,
  .top-rated-section .card-top-rated#tv-2 .bg-medal .medal-content,
  .top-rated-section .card-top-rated#tv-3 .bg-medal .medal-content {
    bottom: 5rem;
  }

  .top-rated-section .card-top-rated#tv-4 .bg-medal,
  .top-rated-section .card-top-rated#tv-5 .bg-medal,
  .top-rated-section .card-top-rated#tv-6 .bg-medal,
  .top-rated-section .card-top-rated#tv-7 .bg-medal,
  .top-rated-section .card-top-rated#tv-8 .bg-medal,
  .top-rated-section .card-top-rated#tv-9 .bg-medal,
  .top-rated-section .card-top-rated#tv-10 .bg-medal {
    display: block;
    background: linear-gradient(to bottom, #4CAF50 10%, transparent 50%) !important;
  }

  .top-rated-section .card-top-rated#tv-4 .bg-medal .medal-content,
  .top-rated-section .card-top-rated#tv-5 .bg-medal .medal-content,
  .top-rated-section .card-top-rated#tv-6 .bg-medal .medal-content,
  .top-rated-section .card-top-rated#tv-7 .bg-medal .medal-content,
  .top-rated-section .card-top-rated#tv-8 .bg-medal .medal-content,
  .top-rated-section .card-top-rated#tv-9 .bg-medal .medal-content,
  .top-rated-section .card-top-rated#tv-10 .bg-medal .medal-content {
    bottom: 5rem;
  }
}

/*# sourceMappingURL=tv.component.css.map */