<app-navbar *ngIf="showNavbar"></app-navbar>

<div class="media-component container-02 area-padding-y area-padding-x">
  <div class="media-component-area area-full">
    <div class="top-rated area-width area-center">
      <h2 class="ttl-02 txt-primary">Top Rated Tv Shows</h2>
      <div class="top-rated-area">
        <div class="top-rated-section">
          <ng-container *ngIf="newTopRatedTvs === undefined">
            <ng-container *ngIf="loading">
              <ng-container *ngTemplateOutlet="loading"></ng-container>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="newTopRatedTvs !== undefined && newTopRatedTvs.length === 0">
            <ng-container *ngIf="empty">
              <ng-container *ngTemplateOutlet="empty"></ng-container>
            </ng-container>
          </ng-container>

          <div class="list-top-rated" *ngIf="newTopRatedTvs && newTopRatedTvs.length > 0">
            <div *ngFor="let tv of TopRatedTvs; let i = index" class="card-top-rated animated-fade-in first-show"
              [id]="'tv-' + (i+1)">
              <div class="card-content">
                <div class="img-container">
                  <img [src]="movieService.getImageUrl(tv.backdrop_path , 'w780')" alt="" width="100%">
                </div>
                <div class="card-info">
                  <div class="card-info-area">
                    <p class="ttl-02 txt-primary ttl">{{tv.name}}</p>
                    <p class="txt-02 txt-primary overview">{{tv.overview}}</p>
                  </div>
                  <div class="card-action">
                    <div class="action-common">
                      <p class="txt-01 txt-primary icon rating">
                        <span class="material-symbols-outlined">
                          star_rate
                        </span>
                        {{tv.vote_average}}
                      </p>
                      <p class="txt-01 txt-primary icon person">
                        <span class="material-symbols-outlined">
                          person
                        </span>
                        {{tv.vote_count}}
                      </p>
                      <div class="icon favorite" (click)="toggleFavorite(tv.id, 'tv')">
                        <span [ngClass]="isFavorite(tv.id, 'tv') ? 'favorite-icon active' : 'favorite-icon'"></span>
                        <span [ngClass]="isFavorite(tv.id, 'tv') ? 'favorite-txt remove' : 'favorite-txt add'">
                          {{ isFavorite(tv.id, 'tv') ? 'Remove from favorites' : 'Add to favorites'
                          }}
                        </span>
                      </div>
                    </div>
                    <button class="primary-btn outlined" [routerLink]="['/tv', tv.id]">See More</button>
                  </div>
                </div>
              </div>
              <div class="bg-medal">
                <div class="medal-content">
                  {{i+1}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #empty>
  <div class="error-empty-container">
    <app-error-empty [messageType]="'empty'"></app-error-empty>
  </div>
</ng-template>

<ng-template #loading>
  <div class="error-empty-container">
    <app-error-empty [messageType]="'loading'"></app-error-empty>
  </div>
</ng-template>